<div class="site-style">
  <div class="divider"></div>
  <div class="h1-container">
    <h1>Über uns</h1>
  </div>
  <div class="divider"></div>
  <div class="about-card">
    <div class="about-card-item">
      <img
        src="/images/copperblock.png"
        alt="Logo"
        class="about-card-picture"
      />
    </div>
    <div class="about-card-header">
     <p>Name <br /></p>
    </div>
    <div class="about-card-item">
      <p>
        Adresse <br />
        Telefonnummer <br />
        E-Mail-Adresse <br />
        Erfahrungen <br/>
        lorem ipsum
      </p>
    </div>
  </div>
  <div class="divider"></div>
</div>
